/* TODO: Add style to board */

main.board {
    display: flex;
    flex-flow: column;
    background-color: var(--black);
    padding: 0.5rem;
    height: calc(100vh - 3.5rem);
}

main.board .boardName {
    color: var(--white);
    align-items: center;
    margin: 2rem auto;
    text-align: center;
}

main.board div.boardName {
    /* Page don't move when board name it's modified */
    border: 5px solid transparent;
}

main.board div.boardName h2 {
    font-size: 2rem;
    word-break: break-all;
}

main.board .boardName > button:not(.editBoardTitle) {
    margin-left: 1rem;
}

main.board .boardName > button {
    margin-top: 1rem;
    color: inherit;
    font-size: 1.5rem;
}

main.board input[name="boardName"],
main.board input[name="search"] {
    padding: 3px;
    border-radius: 2px;
    border: 2px solid transparent;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--white);
}

main.board input[name="boardName"] {
    width: 77%;
}

main.board input[name="boardName"]:focus,
main.board .addColumnForm input:focus,
main.board input[name="search"]:focus {
    border: 2px solid var(--blue);
    outline: none;
}

main.board .searchInBoard {
    position: relative;
}

main.board input[name="search"] {
    color: var(--black);
    padding-left: 1.75rem;
    width: 100%;
}

main.board .searchInBoard .fa-search {
    color: var(--black);
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

main.board .addColumnForm input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 2px;
    border: 2px solid transparent;
    color: var(--black);
    background-color: var(--white);
    width: 100%;
    display: block;
}

main.board .addColumnForm button {
    margin-top: 1rem;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 1rem;
    margin-left: 1rem;
}

main.board .addColumnForm button:first-of-type {
    margin-left: 0;
}

main.board .columnsSection {
    padding-bottom: 3rem;
    height: 100%;
    overflow: auto;
}

/* Hide columns scrollbar */
@media only screen and (max-width: 768px) {
    main.board .columnsSection::-webkit-scrollbar {
        display: none;
    }

    main.board .columnsSection {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


@media only screen and (min-width: 768px) {
    main.board .columnsSection {
        overflow-x: scroll;
        display: flex;
    }

    main.board .columnsSection > div {
        margin-right: 2rem;
        min-width: 400px;
    }

    main.board .columnsSection .columnHeader {
        justify-content: center;
    }
}
