section.columnsSection .column {
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--white);
    display: block;
    min-height: 100px;
}

section.columnsSection .columnHeader {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 2px solid var(--orange);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

section.columnsSection .columnName {
    color: var(--black);
    font-weight: normal;
}

section.columnsSection h3.columnName {
    border: 3px solid transparent;
}

section.columnsSection .columnName i {
    color: var(--black);
}

section.columnsSection .columnName input[name="columnName"] {
    padding: 3px;
    font-size: 1rem;
    border: 2px solid transparent;
    color: var(--black);
    border-radius: 2px;
    background-color: var(--light-grey);
}

section.columnsSection .columnName input[name="columnName"]:focus {
    border: 2px solid var(--orange);
    outline: none;
}

section.columnsSection .editColumnName {
    margin-left: 0.5rem;
}
