main.login,
main.register {
    color: var(--white);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    background-color: var(--black);
}

main.login form,
main.register form{
    width: 80%;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    main.login form,
    main.register form {
        width: 400px;
    }
}

main.login input,
main.register input {
    background-color: var(--light-grey);
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 0.5rem;
    margin-top: 2rem;
    width: 100%;
    display: block;
}

main.login input:focus,
main.register input:focus {
    border: 2px solid var(--orange);
    outline: none;
}

main.login form button,
main.register form button {
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: var(--orange);
    color: var(--black);
}

main.account {
    color: var(--white);
    padding: 1rem;
}


