:root {
    --blue-1: #6f81a6;
    --blue-2: #8aa1bf;
    --blue-3: #d5e5f2;
    --green-1: #a4bfbd;
    --white-1: #f2edeb;
    --dark-blue-1: #3c4145;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html,
body {
    overflow: hidden;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    width: auto;
    overflow: visible;
    background: transparent;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-apperance: none;
}
