:root {
    --red: #E40C2B;
    --black: #1D1D2D;
    --white: #F7F4E9;
    --blue: #3CBCC3;
    --orange: #EBA63F;
    --green: #438945;
    --grey: #90A0AB;
    --light-grey: #B8B5AD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html,
body {
    overflow: hidden;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    width: auto;
    overflow: visible;
    background: transparent;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-apperance: none;
}
